<html>
  <head>
    <title>Boreas Forecast</title>
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
  </head>
  <body>
    <h1>Forecast</h1>
    <% if @error %>
      <p>ruh roh: <%= @error %></p>
    <% end %>
    <form method="get">
      <label for="address">Address:</label></br>
      <input type="text" id="address" name="address" size="50" value="<%= @address %>"></input>
    </form>
    <% if @forecast_data %>
    <table>
      <thead>
        <tr>
          <th>time</th>
          <th>temperature</th>
          <th>wind</th>
          <th>forecast</th>
        </tr>
      </thead>
      <tbody>
        <% format_forecast(@forecast_data.fetch('periods', [])).each do |hour| %>
          <tr>
            <td><%= hour[:time] %>
            <td><%= hour[:temperature] %>
            <td><%= hour[:wind] %>
            <td><%= hour[:forecast] %>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </body>
</html>
